body{
    background-color:#141414;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
}
.content{
    height: 80vh;
    width: 100vw;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    font-size: 2vh;
}
#aboutDiv{
    justify-content: center;
    width: 70vh;
   
    float: right;
    margin-right: 30vh;
    margin-top: 15vh;
    display: none;

}
.aboutCut{
    margin-bottom:25vh;
}
.desc{
    margin-left: 20px;
}
.desc2{
    margin-left: 25px;
    margin-bottom:10px;
}
#WelcomeLand{
    justify-content:flex-end;
    font-size: 10vh;
    margin-left:4%;
    
}
.WelcomeContainer{
    margin-top:6em;
    margin-right: 6em;
    display: none;
    width: 50vh;
    height: 45vh;
    display: flex;
    float: right;
    border-style: solid;
    border-color: white;
    display: none;
}